<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
    <vendor>Pardus</vendor>
    <vendor_url>https://www.pardus.org.tr/</vendor_url>

    <action id="tr.org.pardus.pkexec.hotspot">
        <description>Run Hotspot Commands</description>
        <message>Authentication is required to modify network settings</message>
        <message xml:lang="tr">Ağ ayarlarını değiştirmek için yetkilendirme gerekiyor</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/share/pardus/pardus-hotspot/src/Actions.py</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>
</policyconfig>
